{
    "presets": [
        ["es2016", { "modules": false }], "stage-3"
    ],
    "plugins": [
        "transform-vue-jsx",
        "transform-object-rest-spread",
        "transform-runtime"
    ],
    "comments": false
}