root = true

[*]
charset = utf-8
indent_style = space
{{#if_eq indent "4"}}
indent_size = 4
{{else}}
indent_size = 2
{{/if_eq}}
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[package.json]
indent_size = 2
