{
    "root": true,
    {{#if_eq frame "vue"}}
    "parserOptions": {
      "parser": "babel-eslint",
      "ecmaVersion": 2017,
      "sourceType": "module"
    },
    {{else}}
    "parser": "babel-eslint",
    {{/if_eq}}
    "extends": ["eslint-config-airbnb-base"{{#if_eq frame "vue"}}, "plugin:vue/recommended"{{/if_eq}}],
    "globals": {
        "$": true,
        "define": true,
        "require": true
    },
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "es6": true,
        "amd": true
    },
    "plugins":[
        {{#if_eq frame "react"}}
        "react",
        {{/if_eq}}
    ],
    "rules": {
      {{#if_eq indent "4"}}
      "indent":[2,4,{
        "SwitchCase": 1,
        "flatTernaryExpressions": true
      }],
      "vue/html-indent": ["error", 4],
      {{/if_eq}}
      // 是否允许未命名fuc
      "func-names": "off",
      // 禁止对函数参数再赋值
      "no-param-reassign": "off",
      // 是否在import比较带上后缀, webpack中可以关闭,因为有alias
      "import/extensions": "off",
      // 禁止路径无法被文件系统解析的import, webpack中可以关闭,因为有alias
      "import/no-unresolved": "off",
      // 是否允许有下划线
      "no-underscore-dangle": "off",
      // 括号内是否有空格
      "space-in-parens": ["error", "never"],
      // 是否允许引入不在dependencies的包
      "import/no-extraneous-dependencies": "off",
      // 字面量是否强制使用简写
      "object-shorthand": "off",
      // 建议使用模板而非字符串连接 (prefer-template)
      "prefer-template": "off",
      // 是否允许只export一个变量而不使用export default
      "import/prefer-default-export": "off",
      // 分号
      "semi": ["error", "never"],
      // funciont 括号前不带任何空格,即 function(){} 和 function fnc(){}
      "space-before-function-paren": "off",
      // 关键词前面不带任何空格
      "keyword-spacing": ["error", {
          "overrides": {
              "if": { "after": false },
              "for": { "after": false },
              "while": { "after": false },
              "from": { "after": true }
          }
      }],
      "comma-dangle": ["error", "never"],
      // 必须使用驼峰命名
      "camelcase": "off",
      // "object-curly-spacing": ["error", "always", { "arraysInObjects": false }],
      "object-curly-spacing": "off",
      // 数组中是否存在空格
      "array-bracket-spacing": ["off", "never", {
          "arraysInArrays": false,
          "objectsInArrays": false,
          "singleValue": false
      }],
      // 是否允许++ 和 --
      "no-plusplus": "off",
      // import需要放在最前面
      "import/first": "off",
      // 单行最大长度
      "max-len": "off",
      // require是否必须放在头部
      "global-require": "off",
      // 禁止使用嵌套的三元表达式
      "no-nested-ternary": "off",
      // import后面是否需要跟空行
      "import/newline-after-import": "off",
      // 声明变量是否在同一行
      "one-var": "off",
      // 禁止混合使用不同的操作符 即 a + b * c
      "no-mixed-operators": "off",
      // 禁止未使用过的表达式 即 a && b() 这类
      "no-unused-expressions": "off",
      // 禁止 if 语句作为唯一语句出现在 else 语句块中
      "no-lonely-if": "off",
      // 关闭箭头函数必须包含括号
      "arrow-parens": "off",
      // 闭包函数格式 (fnc(){})()
      "wrap-iife": ["error", "inside"],
      "no-useless-escape": "off",
      {{#if_eq frame "vue"}}
      // vue
      "vue/require-v-for-key": "off",
      // html 括号.官方默认双引号
      "vue/html-quotes": "off",
      // 官方默认一行一个属性
      "vue/max-attributes-per-line": "off",
      // 官方默认mustache必须有空格
      "vue/mustache-interpolation-spacing": "off",
      // 自关闭
      "vue/html-self-closing": "off",
      // 官方默认props配置必须为对象类型
      "vue/require-default-prop": "off",
      // 官方默认属性必须为驼峰命名或者hyphen(形如: a-b)
      "vue/attribute-hyphenation": "off"
      {{/if_eq}}
    }
}
