<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Webpack-Template</title>
</head>

<body>
    {{#if_eq frame "none"}}
<article id="markdown" class="markdown-body"><h1 id="webpack">webpack模板</h1>
  <hr>
  <h2 id="">目录</h2>
  <ul>
  <li><a href="#%E8%BF%90%E8%A1%8C%E7%8E%AF%E5%A2%83">运行环境</a></li>
  <li><a href="#BuildSetup">BuildSetup</a></li>
  <li><a href="#%E5%88%9D%E5%A7%8B%E5%8C%96%E9%80%89%E6%8B%A9%E8%AF%B4%E6%98%8E">初始化选择说明</a></li>
  <li><a href="#%E5%88%9D%E5%A7%8B%E5%8C%96%E6%B5%81%E7%A8%8B">初始化流程</a></li>
  <li><a href="#%E9%A1%B9%E7%9B%AE%E5%85%B7%E4%BD%93%E9%85%8D%E7%BD%AE%E8%AF%B4%E6%98%8E">项目具体配置说明</a></li>
  <li><a href="#%E6%96%87%E4%BB%B6%E4%BB%8B%E7%BB%8D">文件介绍</a>
  <ul>
  <li>config.js</li>
  <li>base.conf.js</li>
  <li>dev.conf.js</li>
  <li>prod.conf.js</li>
  <li>dll.conf.js</li>
  <li>utils.js</li>
  </ul>
  </li>
  </ul>
  <h2 id="">运行环境</h2>
  <pre><code>node&gt;=8.0.0
npm&gt;=5.0
webpack&gt;=3.3.0
  </code></pre>
  <h2 id="build-setup">Build Setup</h2>
  <ul>
  <li>
  <p>安装 <a href="https://github.com/zWingz/create-app-cli">cli</a> / 使用vue-cli亦可</p>
  </li>
  <li>
  <p>执行</p>
  <pre><code class="language-bash">create-app init zWingz/webpack-template &lt;project-name&gt;
  <span class="hljs-built_in">cd</span> project-name
npm run dev
  </code></pre>
  </li>
  </ul>
  <h2 id="">初始化选择说明</h2>
  <ul>
  <li>name 项目名称</li>
  <li>description 项目描述</li>
  <li>author 作者</li>
  <li>host 开发所使用的host</li>
  <li>port 开发所使用的端口</li>
  <li>sass 是否使用sass</li>
  <li>multipage 是否为多页应用</li>
  <li>frame 框架选择(vue or none)</li>
  <li>indent 缩进空格(2/4)</li>
  </ul>
  <h2 id="">初始化流程</h2>
  <ul>
  <li>name install 自动安装依赖</li>
  <li>npm run lint-fix 执行eslint检查并自动修复</li>
  <li>git init 初始化git仓库并加入githook pre-commit</li>
  </ul>
  <p><strong>Tips: 请自行在编辑器中安装对应的 <a href="http://editorconfig.org/">editorconfig</a></strong></p>
  <h2 id="">项目具体配置说明</h2>
  <ul>
  <li>
  <p>Loaders</p>
  <ul>
  <li>Babel-loader</li>
  <li>Eslint-loader</li>
  <li>Pug-loader</li>
  <li>Vue-loader</li>
  <li>Style-loader</li>
  <li>Sass-loader</li>
  <li>Postcss-loader</li>
  </ul>
  </li>
  <li>
  <p>框架选择</p>
  <ul>
  <li>Vue(<code>Vue</code>+<code>VueRouter</code>+<code>Vuex</code>+<code>Axios</code>)</li>
  </ul>
  </li>
  <li>
  <p>样式(<code>Sass/Css</code>+<code>postcss</code>)</p>
  </li>
  <li>
  <p>babel(<code>preset2015</code>+<code>stage-3</code>+<code>transform-runtime</code>+<code>transform-object-rest-spread</code>)</p>
  </li>
  </ul>
  <h2 id="">文件介绍</h2>
  <ul>
  <li>
  <p>config.js</p>
  <p>项目配置文件,包括entry,开发环境,生产环境的配置.
  包括</p>
  <ul>
  <li>entry 项目入口</li>
  <li>productionSourceMap 是否开启sourceMap</li>
  <li>extract 是否独立打包css</li>
  <li>assetsRoot 静态资源路径</li>
  <li>assetsPublicPath 打包输出路径</li>
  <li>publicPath修改</li>
  <li>useDll 是否独立打包Dll</li>
  <li>bundleAnalyzerReport 是否进行打包分析</li>
  <li>devtool 配置</li>
  <li>autoOpenBrowser 是否自动打开浏览器</li>
  </ul>
  </li>
  <li>
  <p>base.conf.js</p>
  <p>webpack基础配置文件
  会自动读取<code>config.js</code>下的entry来作为webpack入口</p>
  <p>在这里可以配置信息包括:</p>
  <ul>
  <li>extensions(自动识别文件名后缀)</li>
  <li>alias(文件别名或者指定引入文件,可以提升webpack打包速度)</li>
  <li>loaders 在此按需添加loaders(Vue会自动添加vueLoader, 除此之外包括babelLoader,pugLoader, htmlLoader, urlLoader)</li>
  </ul>
  </li>
  <li>
  <p>dev.conf.js</p>
  <p>开发环境配置文件</p>
  <p>在此会添加<code>eslint-loader</code>并且使用<code>eslint-friendly-formatter</code>格式化输出</p>
  <p>可配置信息包括:</p>
  <ul>
  <li>devServer
  <ul>
  <li>historyApiFallback (除了自动注入entry对应的路由外.可以自行添加或者完全修改)</li>
  <li>proxy (跨域代理,请自行配置)</li>
  </ul>
  </li>
  <li>overlay 是否将errors显示在页面上</li>
  </ul>
  </li>
  <li>
  <p>prod.conf.js</p>
  <p>生产环境配置文件</p>
  <p>在此会添加<code>uglifyPlugin</code>来压缩es6代码.压缩优化分割css文件,生成最终的html文件,提取各个entry的公共部分以及提取<code>nodeModules</code>中的第三方模块到<code>vendors</code>中</p>
  <p>可配置信息包括:</p>
  <ul>
  <li>htmlPlugin (除了根据entry来生成的html外,需要自行添加额外的html任务, 如果需要定制html模板请修改utils.js下的<code>HtmlCreator</code>, 相信都看得懂)</li>
  </ul>
  </li>
  <li>
  <p>dll.conf.js</p>
  <p>打包dll配置文件</p>
  <p>在此会将制定的库打包成独立的dll文件.以供上述<code>prod.conf.js</code>中引入,请务必注意配置说明.</p>
  <p>可配置信息:</p>
  <ul>
  <li>需要打包的entry(添加需要打包成dll的入口)</li>
  </ul>
  </li>
  <li>
  <p>utils.js</p>
  <p>辅助工具</p>
  <p>用来生成cssLoader, 根据entry来生成htmlPlugin任务</p>
  <p>可配置信息:</p>
  <ul>
  <li>可以添加<code>less</code>/<code>stylus</code>, 或者修改<code>sass</code> 的配置</li>
  <li>可以修改htmlPLugin对应的信息(详情请参考<a href="https://github.com/jantimon/html-webpack-plugin">github</a>)</li>
  </ul>
  </li>
  <li>
  <p>link-dist.js</p>
  <p>build打包后将dist文件夹软连接到最新生成release-[hash]中, 以免打包过程中dist文件不可访问.</p>
  <p>同时, 旧版本的release-文件依旧保留.需要手动管理</p>
  </li>
  </ul>
  <h2 id="npm-script">Npm Script 介绍</h2>
  <ul>
  <li><code>build</code> 打包命令, 将NODE_ENV设为production,并执行webpack打包</li>
  <li><code>dev</code> 运行开发环境, 将NODE_ENV设为development,并执行webpack-dev-server</li>
  <li><code>test-build</code> 以生成环境配置打包,但保留sourceMap,用于测试环境</li>
  <li><code>dll</code> 打包dll文件</li>
  <li><code>profile</code> 生成webpack分析文件stat.json</li>
  <li><code>lint</code> 针对js/vue/jsx文件进行eslint检查</li>
  <li><code>lint-fix</code> 针对js/vue/js文件检查eslint并启用--fix选项自动修复,用于初始化阶段</li>
  <li><code>eslint</code> 暴露eslint接口,供pre-commit使用</li>
  <li><code>git-hook</code> 将hooks/pre-commit软连接到.git/hooks/pre-commit中</li>
  </ul>
  <br>
  <br>
  <br>
  <hr>
  <p>有问题或者需求欢迎提issus :blush:</p>
</article>
    {{else}}
    <div id="app">
    </div>
    {{/if_eq}}

    <!--<%= htmlWebpackPlugin.options.script %>-->
    <!-- built files will be auto injected -->
</body>

</html>
