<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Webpack-Template</title>
</head>

<body>
    {{#if_eq frame "none"}}
    <iframe src='https://github.com/zWingz/create-app-cli/blob/master/README.md' frameborder='0'></iframe>
    {{else}}
    <div id="app">
    </div>
    {{/if_eq}}

    <!--<%= htmlWebpackPlugin.options.script %>-->
    <!-- built files will be auto injected -->
</body>

</html>
