@mixin margin($direction, $num, $important:false) {
    @if $important {
        margin-#{$direction}: $num+px !important;
    }
    @else {
        margin-#{$direction}: $num+px;
    }
}

@mixin h($num, $important:false) {
    @if $important {
        height: $num+px !important;
        line-height: $num+px !important;
    }
    @else {
        height: $num+px;
        line-height: $num+px;
    }
}

$mRight: 5 8 10 14 20;
@each $m in $mRight {
    .mr#{$m} {
        @include margin('right', $m);
    }
}

// mt*
$mTop: 5 10 18 20;
@each $m in $mTop {
    .mt#{$m} {
        @include margin('top', $m);
    }
}

// ml*
$mLeft: 5 10 20;
@each $m in $mLeft {
    .ml#{$m} {
        @include margin('left', $m);
    }
}

// h*
$hArr: 20 24 26 28 30 32;
@each $h in $hArr {
    .h#{$h} {
        @include h($h, true);
    }
}
